<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="waverr.project.com.Proxinode" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Proxinode"
        android:theme="@style/AppTheme" >
        <activity
            android:name="waverr.project.com.Proxinode.MainActivity"
            android:label="Proxinode"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="waverr.project.com.Proxinode.BusinessCard"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            >
        <intent-filter>
            <action android:name="android.intent.action.BUSINESSCARD" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
            </activity>
        <activity android:name="waverr.project.com.Proxinode.Airport"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.AIRPORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="waverr.project.com.Proxinode.Mall"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="waverr.project.com.Proxinode.SneakPeak"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.SNEAKPEAK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="waverr.project.com.Proxinode.Faq"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.FAQ" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="waverr.project.com.Proxinode.Splash"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
